@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px; /* Задайте базовый размер шрифта */
  font-family: "Fira sans";
  background-color: #121717;
  color: #ffffff;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

div {
  font-size: 16px;
}

.button {
  background-color: #52f5d6;
  color: #121717;
  padding: 1vh 2.5vh;
  border-radius: 10px;
  font-weight: bold;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

.content-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  max-width: 1200px;
  width: 100%;
  box-sizing: border-box;
}

.content-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main,
.navigation {
  min-height: 50px;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.flex-align-center {
  display: flex;
  align-items: center;
}