@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px; /* Задайте базовый размер шрифта */
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 32px;
}

div {
  font-size: 16px;
}

.content-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.main-content-container {
  display: block;
  max-width: 1200px;
}

.introducing {
  padding: 1.6666666667%;
  margin-top: 1vh;
  position: relative;
}
.introducing img {
  width: 100%;
  height: 100%;
}
.introducing > div {
  width: 75%;
  position: absolute;
  top: 50%;
  left: 10%;
}
.introducing > div div {
  margin-top: 1vw;
}
.introducing > div .shadow-box {
  padding: 10px;
  background-color: rgba(18, 23, 23, 0.7);
  border-radius: 15px;
}

.why-us {
  margin-top: 5vh;
}
.why-us > div:first-of-type {
  padding-top: 2.5vh;
}
.why-us .btn-shop-now {
  margin: 2.5vh 0;
}

.review .profile {
  padding: 0.5vh 0;
  height: 5vh;
  align-items: center;
  display: flex;
}
.review .userdata {
  padding-left: 1vh;
}
.review .userdata div.date {
  font-size: 12px;
}
.review .rating {
  padding: 1vh 0;
}
.review .like-dislikes {
  color: #9cbab5;
  padding: 1vh 0;
  align-items: center;
  display: flex;
}
.review .like-dislikes .likes div {
  padding-left: 0.2vw;
}
.review .like-dislikes .dislikes {
  padding-left: 1vw;
}
.review .like-dislikes .likes,
.review .like-dislikes .dislikes {
  align-items: center;
  display: flex;
  height: 2vh;
}

@media screen and (max-width: 1024px) {
  main {
    padding: 0 20px;
  }
  .introducing .introducing-text-and-btn {
    width: 85%;
    top: 47%;
  }
  .introducing .introducing-text-and-btn div {
    margin-top: 1vh;
  }
  .introducing .introducing-text-and-btn .btn-shop-now {
    margin-top: 2vh;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 26px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 22px;
  }
  a {
    font-size: 15px;
  }
  .introducing .introducing-text-and-btn {
    top: 35%;
  }
  .reviews,
  .why-us {
    padding: 0 20px;
  }
  .why-us .btn-shop-now {
    margin: 3.5vh 0;
  }
}