@charset "UTF-8";
.introducing {
  padding: 1.6666666667% 0;
  margin-top: 1vh;
  position: relative;
  width: 100%;
}
.introducing img {
  width: 100%;
  height: 100%;
}
.introducing .introducing-text-and-btn {
  position: absolute;
  top: 70%; /* Расположить блок относительно верхнего края родительского контейнера на 50% */
  left: 50%; /* Расположить блок относительно левого края родительского контейнера на 50% */
  transform: translate(-50%, -50%); /* Центрировать блок по горизонтали и вертикали */
  width: 80%; /* Пример: ширина блока 80% от ширины родительского контейнера */
}
.introducing .introducing-text-and-btn div {
  margin-top: 1vw;
}
.introducing .introducing-text-and-btn .shadow-box {
  padding: 10px;
  background-color: rgba(18, 23, 23, 0.7);
  border-radius: 15px;
}

.why-us {
  margin-top: 5vh;
}
.why-us > div:first-of-type {
  padding-top: 2.5vh;
}
.why-us .btn-shop-now {
  margin: 2.5vh 0;
}

.review .profile {
  padding: 0.5vh 0;
  height: 5vh;
  align-items: center;
  display: flex;
}
.review .userdata {
  padding-left: 1vh;
}
.review .userdata div.date {
  font-size: 12px;
}
.review .rating {
  padding: 1vh 0;
}
.review .like-dislikes {
  color: #9cbab5;
  padding: 1vh 0;
  align-items: center;
  display: flex;
}
.review .like-dislikes .likes div {
  padding-left: 0.2vw;
}
.review .like-dislikes .dislikes {
  padding-left: 1vw;
}
.review .like-dislikes .likes,
.review .like-dislikes .dislikes {
  align-items: center;
  display: flex;
  height: 2vh;
}

@media screen and (max-width: 1024px) {
  main {
    padding: 0 20px;
  }
  div {
    font-size: 15px;
  }
  .navigation .nav .nav-bar div {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 26px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 22px;
  }
  a {
    font-size: 15px;
  }
  .introducing .introducing-text-and-btn {
    top: 50%;
  }
  .reviews,
  .why-us {
    padding: 0 20px;
  }
  .why-us .btn-shop-now {
    margin: 3.5vh 0;
  }
}
@media (max-width: 480px) {
  .introducing .introducing-text-and-btn .btn-shop-now {
    float: right;
  }
}