@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px; /* Задайте базовый размер шрифта */
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px; /* Пропорция: 40/60 = 2/3 */
}

h3 {
  font-size: 30px; /* Пропорция: 30/60 = 1/2 */
}

p {
  font-size: 18px; /* Пропорция: 18/60 = 3/10 */
}

/* Пример для других элементов, если необходимо */
div {
  font-size: 20px; /* Пропорция: 24/60 = 2/5 */
}

.main-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-container {
  display: block;
  max-width: 1200px;
}

.introducing {
  padding: 1.6666666667%;
  margin-top: 1vh;
  position: relative;
}
.introducing img {
  width: 100%;
  height: 100%;
}
.introducing .introducing-text-and-btn {
  width: 81.3043478261%;
  background-color: rgba(18, 23, 23, 0.7);
  border-radius: 15px;
  padding: 10px;
  position: absolute;
  top: 45%;
  left: 8.6956521739%;
}
.introducing .introducing-text-and-btn div {
  margin-top: 2.5vh;
}
.introducing .introducing-text-and-btn .btn-shop-now {
  margin-top: 5vh;
  background-color: #52f5d6;
  color: #121717;
  padding: 1vh 2.5vh;
  border-radius: 15px;
  font-weight: bold;
  width: -moz-fit-content;
  width: fit-content;
}

.why-us {
  margin-top: 5vh;
}
.why-us div {
  padding-top: 2.5vh;
}
.why-us .btn-shop-now {
  background-color: #52f5d6;
  color: #121717;
  padding: 1vh 2.5vh;
  border-radius: 15px;
  font-weight: bold;
  width: -moz-fit-content;
  width: fit-content;
  margin: 5vh 0;
}

.review .profile {
  padding: 0.5vh 0;
  height: 5vh;
  display: flex;
  align-items: center;
}
.review .userdata {
  padding-left: 1vh;
}
.review .rating {
  padding: 1vh 0;
}
.review .like-dislikes {
  color: #9cbab5;
  padding: 1vh 0;
  display: flex;
  align-items: center;
}
.review .like-dislikes .likes div {
  padding-left: 0.2vw;
}
.review .like-dislikes .dislikes {
  padding-left: 1vw;
}
.review .like-dislikes .likes,
.review .like-dislikes .dislikes {
  display: flex;
  align-items: center;
  height: 2vh;
}

@media (max-width: 768px) {
  body {
    font-size: 16px; /* Базовый размер шрифта */
  }
  h1 {
    font-size: 5vw; /* Пример адаптивного размера для заголовка h1 */
  }
  h2 {
    font-size: 3.5vw; /* Пример адаптивного размера для заголовка h2 */
  }
  h3 {
    font-size: 2.5vw; /* Пример адаптивного размера для заголовка h3 */
  }
  p {
    font-size: 1.5vw; /* Пример адаптивного размера для абзаца */
  }
  div {
    font-size: 2.5vw;
  }
  .introducing .introducing-text-and-btn {
    width: 70%;
    top: 30%;
  }
  .introducing .introducing-text-and-btn div {
    margin-top: 1vh;
  }
  .introducing .introducing-text-and-btn .btn-shop-now {
    margin-top: 2vh;
  }
  .introducing .introducing-text-and-btn div {
    font-size: 2.5vw !important;
  }
  .reviews,
  .why-us {
    padding: 0 20px;
  }
  .why-us .btn-shop-now {
    margin: 3.5vh 0;
  }
}