@charset "UTF-8";
.button {
  background-color: #52f5d6;
  color: #121717;
  padding: 1vh 2.5vh;
  border-radius: 15px;
  font-weight: bold;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

body {
  font-family: "Fira sans";
  background-color: #121717;
  color: #ffffff;
}

.navigation {
  padding-top: 1vh;
  width: 100%;
}
.navigation nav {
  padding: 1vh 1vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation nav .nav-logo {
  display: flex;
  align-items: center;
  padding-left: 1vw;
}
.navigation nav .nav-logo img {
  width: 2vw;
}
.navigation nav .nav-logo .EcoTech-nav {
  font-family: "Spline sans";
  padding-left: 0.5vw;
}
.navigation nav .nav-bar-common {
  margin-right: 5vw;
  align-items: center;
  display: flex;
}
.navigation nav .nav-bar-common .menu-toggle {
  display: none;
}
.navigation nav .nav-bar-common .login-btn {
  margin: 0 1vh;
}
.navigation nav .nav-bar-common .nav-bar {
  align-items: center;
  display: flex;
}
.navigation nav .nav-bar-common .nav-items {
  position: relative;
  overflow: hidden; /* Обрезаем псевдоэлемент, который будет анимирован */
  margin: 0 1vw;
}
.navigation nav .nav-bar-common .nav-items::after {
  content: "";
  display: block;
  width: 0%;
  height: 0.15em;
  background-color: #52f5d6;
  position: absolute;
  bottom: 0;
  left: 50%; /* Начальное положение линии - в центре */
  transition: width 0.3s, left 0.3s; /* Плавное изменение ширины и положения линии при наведении */
}
.navigation nav .nav-bar-common .nav-items:hover::after {
  width: 100%; /* Расширяем линию до краев при наведении */
  left: 0%; /* Смещаем линию влево, чтобы она начиналась с края */
}
.navigation .separate-line {
  height: 0.2vh;
  background-color: #9cbab5;
}
.navigation .box {
  width: 5vw;
  height: 5vw;
}
.navigation .icon {
  stroke-width: 8;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #ffffff;
}
.navigation .icon {
  transition: d 0.3s ease-in-out;
}
@keyframes menuToCross1 {
  0% {
    d: path("M0,27 L100,27 Z");
  }
  100% {
    d: path("M20,20 L80,80 Z");
  }
}
.navigation .menu-to-cross-1 {
  animation: menuToCross1 0.1s ease-in-out forwards;
}
@keyframes crossToMenu1 {
  0% {
    d: path("M20,20 L80,80 Z");
  }
  100% {
    d: path("M0,27 L100,27 Z");
  }
}
.navigation .cross-to-menu-1 {
  animation: crossToMenu1 0.1s ease-in-out forwards;
}
@keyframes menuToCross2 {
  0% {
    d: path("M0,73 L100,73 Z");
  }
  100% {
    d: path("M80,20 L20,80 Z");
  }
}
.navigation .menu-to-cross-2 {
  animation: menuToCross2 0.1s ease-in-out forwards;
}
@keyframes crossToMenu2 {
  0% {
    d: path("M80,20 L20,80 Z");
  }
  100% {
    d: path("M0,73 L100,73 Z");
  }
}
.navigation .cross-to-menu-2 {
  animation: crossToMenu2 0.1s ease-in-out forwards;
}
@keyframes menuToCross3 {
  0% {
    d: path("M0,50 L100,50 Z");
  }
  100% {
    d: path("M80,20 L20,80 Z");
  }
}
.navigation .menu-to-cross-3 {
  animation: menuToCross3 0.1s ease-in-out forwards;
}
@keyframes crossToMenu3 {
  0% {
    d: path("M80,20 L20,80 Z");
  }
  100% {
    d: path("M0,50 L100,50 Z");
  }
}
.navigation .cross-to-menu-3 {
  animation: crossToMenu3 0.1s ease-in-out forwards;
}
@media (max-width: 768px) {
  .navigation .nav-bar-common .menu-toggle {
    display: block !important;
    margin: 0 1vw;
  }
  .navigation nav.nav {
    box-sizing: content-box;
  }
  @keyframes slideIn {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  @keyframes slideOut {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100%);
    }
  }
  .navigation nav.nav .nav-bar {
    /* Сначала скрываем */
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    width: 80%;
    min-height: 100%;
    background-color: #191f1f;
    display: flex;
    flex-direction: column; /* Выстраиваем элементы в колонну */
    align-items: center; /* Выравниваем элементы по центру по оси X */
    display: none;
  }
  .navigation nav.nav .nav-bar .nav-items {
    margin-top: 5vh;
  }
}