@charset "UTF-8";
.navigation {
  position: relative;
  width: 100%;
}
.navigation div {
  font-size: 18px;
}
.navigation .separate-line {
  height: 3px;
  background-color: #9cbab5;
}

nav.nav {
  padding: 1vh 1vw;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.nav-logo {
  cursor: pointer;
  align-items: center;
  display: flex;
  margin-left: 1vw;
}
.nav-logo svg {
  width: 45px;
}
.nav-logo svg .st0 {
  fill: none;
  stroke: #5ba199;
  stroke-width: 2;
  stroke-miterlimit: 10;
}
.nav-logo svg .st1 {
  fill: #5ba199;
  stroke: #5ba199;
  stroke-miterlimit: 10;
}
.nav-logo svg .st2 {
  fill: #75cac0;
  stroke: #75cac0;
  stroke-miterlimit: 10;
}
.nav-logo svg .st3 {
  fill: #75cac0;
}
.nav-logo div {
  font-family: "Spline sans";
  font-size: 20px;
  padding-left: 0.5vw;
}

.menu-items-and-hamburger {
  margin-right: 3vw;
  align-items: center;
  display: flex;
}
.menu-items-and-hamburger .hamburger-menu {
  width: 40px;
  height: 40px;
  display: none;
}
.menu-items-and-hamburger .login-btn {
  margin: 0 1vh;
}
.menu-items-and-hamburger .login-btn.icon {
  display: none;
}
.menu-items-and-hamburger .menu {
  align-items: center;
  display: flex;
}
.menu-items-and-hamburger .menu-item {
  cursor: pointer;
  position: relative;
  margin: 0 1vw;
}
.menu-items-and-hamburger .menu-item::after {
  content: "";
  width: 0%;
  height: 3px;
  background-color: #52f5d6;
  position: absolute;
  bottom: 0;
  left: 50%; /* Начальное положение линии - в центре */
  transition: width 0.3s, left 0.3s; /* Плавное изменение ширины и положения линии при наведении */
}
.menu-items-and-hamburger .menu-item:hover::after {
  width: 100%; /* Расширяем линию до краев при наведении */
  left: 0%; /* Смещаем линию влево, чтобы она начиналась с края */
}
.menu-items-and-hamburger .menu-item a {
  font-size: 18px;
}

@keyframes menuToCross1 {
  0% {
    d: path("M0,27 L100,27 Z");
  }
  100% {
    d: path("M20,20 L80,80 Z");
  }
}
.menu-to-cross-1 {
  animation: menuToCross1 0.1s ease-in-out forwards;
}

@keyframes crossToMenu1 {
  0% {
    d: path("M20,20 L80,80 Z");
  }
  100% {
    d: path("M0,27 L100,27 Z");
  }
}
.cross-to-menu-1 {
  animation: crossToMenu1 0.1s ease-in-out forwards;
}

@keyframes menuToCross2 {
  0% {
    d: path("M0,73 L100,73 Z");
  }
  100% {
    d: path("M80,20 L20,80 Z");
  }
}
.menu-to-cross-2 {
  animation: menuToCross2 0.1s ease-in-out forwards;
}

@keyframes crossToMenu2 {
  0% {
    d: path("M80,20 L20,80 Z");
  }
  100% {
    d: path("M0,73 L100,73 Z");
  }
}
.cross-to-menu-2 {
  animation: crossToMenu2 0.1s ease-in-out forwards;
}

@keyframes menuToCross3 {
  0% {
    d: path("M0,50 L100,50 Z");
  }
  100% {
    d: path("M80,20 L20,80 Z");
  }
}
.menu-to-cross-3 {
  animation: menuToCross3 0.1s ease-in-out forwards;
}

@keyframes crossToMenu3 {
  0% {
    d: path("M80,20 L20,80 Z");
  }
  100% {
    d: path("M0,50 L100,50 Z");
  }
}
.cross-to-menu-3 {
  animation: crossToMenu3 0.1s ease-in-out forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideOut {
  from {
    display: flex;
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
    display: none;
  }
}
@media (max-width: 768px) {
  .icon {
    stroke-width: 8;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: d 0.3s ease-in-out;
  }
  .navigation nav.nav {
    box-sizing: content-box;
  }
  .navigation nav.nav .menu-items-and-hamburger .hamburger-menu {
    display: block;
    margin: 0 1vw;
  }
  .navigation nav.nav .menu-items-and-hamburger .menu {
    position: fixed;
    right: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: #191f1f;
    flex-direction: column; /* Выстраиваем элементы в колонну */
    display: none;
  }
  .navigation nav.nav .menu-items-and-hamburger .menu .menu-item {
    margin-top: 5vh;
  }
  .navigation nav.nav .menu-items-and-hamburger .menu .menu-item::after {
    display: none;
  }
  .navigation nav.nav .nav-logo img {
    width: 30px;
  }
}
@media (max-width: 480px) {
  .menu-items-and-hamburger .login-btn.text {
    display: none;
  }
  .menu-items-and-hamburger .login-btn.icon {
    padding-right: 10px;
    display: block;
    width: 30px;
  }
}