@charset "UTF-8";
.main-content-container {
  padding: 0 20px;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 215px);
  justify-content: center; /* 3 колонки, мин. ширина 216px, макс. 1fr */
  grid-gap: 20px; /* Отступ 20px */
}
.products-container .dropdown {
  grid-column: 1/-1; /* Занимает все колонки от первой до последней */
}
.products-container .dropdown {
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  margin: 4vh 0;
}
.products-container .dropdown .dropdown-toggle {
  font-weight: 600;
  font-size: 36px;
}
.products-container .dropdown-menu {
  font-size: 24px;
  display: none;
  position: absolute;
  background-color: #191f1f;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.products-container .dropdown-menu li {
  list-style: none;
  color: #ffffff;
  padding: 10px;
}
.products-container .dropdown-menu li:hover {
  border-radius: 10px;
  background-color: #475757;
}
.products-container .item-card {
  background-color: #191f1f;
  border-radius: 10px;
  padding: 10px;
  height: 325px;
}
.products-container .item-card .name,
.products-container .item-card .price,
.products-container .item-card .description {
  max-height: 1.1em;
  line-height: 1.1em;
  margin: 0.3em 0;
  overflow: hidden; /* Это чтобы текст, выходящий за пределы блока, не отображался */
}
.products-container .item-card .name {
  max-height: 2.2em;
}
.products-container .item-card .description {
  margin-bottom: 0;
  font-size: 14.5px;
  overflow: auto;
  max-height: 4.3em;
  padding-right: 5px;
  /* Для WebKit (Chrome, Safari, Opera) */
}
.products-container .item-card .price {
  font-weight: 600;
}
.products-container .item-card img {
  max-width: 200px;
  width: 100%;
}

.load-more-btn {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

@media (max-width: 768px) {
  .main-content-container {
    max-width: 650px;
  }
  .products-container {
    display: flex;
    flex-direction: column;
  }
  .products-container .item-card {
    height: 200px;
    display: flex;
  }
  .products-container .item-card .name,
  .products-container .item-card .price,
  .products-container .item-card .description {
    margin: 0.6em 0;
    padding: 0 10px;
  }
  .products-container .item-card .description {
    max-height: calc(7.7em - 2px);
    margin-bottom: 0;
  }
  .products-container .item-card img {
    width: 200px;
  }
  .products-container .dropdown {
    margin: 4vh 0 0 0;
  }
  .products-container .dropdown .dropdown-toggle {
    font-size: 26px;
    cursor: auto;
  }
  .products-container .dropdown-menu {
    font-size: 22px;
  }
}
@media (max-width: 480px) {
  .main-content-container {
    padding: 0 10px;
  }
  .products-container .item-card {
    display: block;
    height: auto;
  }
}
.description::-webkit-scrollbar {
  width: 4px; /* Ширина скроллбара */
}

.has-scrollbar::-webkit-scrollbar-thumb {
  background-color: #52f5d6; /* Цвет скроллбара */
  border-radius: 4px;
}

/* Стили для скроллбара только при наличии переполнения */
.has-scrollbar::-webkit-scrollbar-track {
  background-color: rgba(12, 213, 175, 0.5);
}