@charset "UTF-8";
h1 {
  padding: 4vh 0;
}

.main-content-container {
  padding: 0 20px;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 215px);
  justify-content: center; /* 3 колонки, мин. ширина 216px, макс. 1fr */
  grid-gap: 20px; /* Отступ 20px */
}
.products-container h1 {
  grid-column: 1/-1; /* Занимает все колонки от первой до последней */
}
.products-container .item-card .name-and-price {
  height: 40px;
  overflow-y: hidden;
}
.products-container .item-card img {
  width: 100%;
}