@import "__common_vars.scss";
* {
  padding: 0;
  margin: 0;
}
body {
  font-size: 16px; /* Задайте базовый размер шрифта */
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px; /* Пропорция: 40/60 = 2/3 */
}

h3 {
  font-size: 30px; /* Пропорция: 30/60 = 1/2 */
}

p {
  font-size: 18px; /* Пропорция: 18/60 = 3/10 */
}

/* Пример для других элементов, если необходимо */
div {
  font-size: 16px; /* Пропорция: 24/60 = 2/5 */
}
.main-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-container {
  display: block;
  max-width: 1200px;
}
.introducing {
  //   background-color: transparent;
  padding: calc(calc(calc(100%) - calc(calc(calc(100%) * 29) / 30)) / 2);
  margin-top: 1vh;
  position: relative;
  img {
    width: 100%;
    // filter: blur(5px);
  }
  .introducing-text-and-btn {
    width: calc(
      calc(100%) - calc(calc(100%) - calc(calc(calc(100%) * 21) / 23)) - calc(10%)
    );
    background-color: rgba($main-bg-color, 0.7);
    border-radius: 15px;
    padding: 10px;
    position: absolute;
    top: 45%;
    left: calc(calc(100%) - calc(calc(calc(100%) * 21) / 23));
    // Добавляем backdrop-filter
    // backdrop-filter: blur(3px);
    // Уровень размытия, настройте по вашему усмотрению
    div {
      margin-top: 2.5vh;
    }
    .btn-shop-now {
      margin-top: 5vh;
      @include btn-style;
    }
  }
}

.why-us {
  margin-top: 5vh;
  div {
    padding-top: 2.5vh;
  }
  .btn-shop-now {
    @include btn-style;
    margin: 5vh 0;
  }
}
.review {
  .profile {
    padding: 0.5vh 0;
    height: 5vh;
    display: flex;
    align-items: center;
  }
  .userdata {
    padding-left: 1vh;
  }
  .rating {
    padding: 1vh 0;
  }
  .like-dislikes {
    color: #9CBAB5;
    padding: 1vh 0;
    display: flex;
    align-items: center;
    .likes {
      div {
        padding-left: 0.2vw;
      }
    }
    .dislikes {
      padding-left: 1vw;
    }
    .likes, .dislikes{
        display: flex;
        align-items: center;
        height: 2vh;
    }
  }
}
