@import "__common_vars.scss";
@import url("https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300..700&display=swap");

body {
  font-family: "Spline sans";
  background-color: $main-bg-color;
  color: $primary-text-color;
}
.navigation {
  width: 100%;
  nav {
    padding: 1vh 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .nav-logo {
      display: flex;
      align-items: center;
      img {
        width: 2vw;
      }
      padding-left: 1vw;
      .EcoTech-nav {
        padding-left: 0.5vw;
      }
    }
    .nav-bar {
      display: flex;
      align-items: center;
      .nav-items {
        padding: 0 1vw;
        .login-btn {
          @include btn-style;
        }
      }
    }
  }
  .separate-line {
    height: 0.2vh;
    background-color: #9cbab5;
  }
}
