@import "__common_vars.scss";

.footer {
  margin-top: 3vh;
  padding: 5vh 0;
  @include flex-align-center;
  flex-direction: column;
  width: 100%;

  background-color: #0f241f;
  .footer-first-bar {
    width: 40%;
    margin: 0 2vw;
    @include flex-align-center;
    justify-content: space-between;
    padding-left: 5vw;
  }
  .return-policy,
  .social-media,
  .rights {
    margin-top: 2vh;
  }
  .social-media img {
    margin-right: 0.2vw;
  }
}

@media  (max-width: 768px) {
  .footer .footer-first-bar {
    text-align: center;

    padding: 2vw 3vw;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
  }
  
}