@import "__vars.scss";

.why-us.about,
.reviews {
  position: relative;
  padding: 0 20px;
}
h2 {
  padding: 20px 0;
}
.introducing {
  padding: calc(calc(calc(100%) - calc(calc(calc(100%) * 29) / 30)) / 2) 0;
  margin-top: 1vh;
  position: relative;
  width: 100%;
  img {
    width: 100%;
    height: 100%;
  }
  .introducing-text-and-btn {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    div {
      margin-top: 1vw;
    }
    .shadow-box {
      padding: 10px;
      background-color: rgba($main-bg-color, 0.7);
      border-radius: 15px;
    }
  }
}

.why-us {
  p {
    padding: 10px 0;
    text-indent: 20px;
  }
  .btn-shop-now {
    margin: 20px 0;
  }
  ul {
    padding-left: 20px;
  }
}

.review {
  .profile {
    padding: 0.5vh 0;
    height: 5vh;
    @include flex-align-center;
  }
  .userdata {
    padding-left: 1vh;
    @include set-font-size("div.date", 12px);
  }
  .rating {
    padding: 1vh 0;
  }
  .like-dislikes {
    color: #9cbab5;
    padding: 1vh 0;
    @include flex-align-center;
    .likes {
      div {
        padding-left: 0.2vw;
      }
    }
    .dislikes {
      padding-left: 1vw;
    }
    .likes,
    .dislikes {
      @include flex-align-center;
      height: 2vh;
    }
  }
}

@media (max-width: 1024px) {
  @include set-font-size(div, 16px);
}

@media (max-width: 768px) {
  @include set-font-size("h1", 26px);
  @include set-font-size("h2", 24px);
  @include set-font-size("h3", 22px);

  .introducing .introducing-text-and-btn {
    top: 50%;
  }
}

@media (max-width: 480px) {
  .introducing .introducing-text-and-btn {
    position: static;
    width: auto;
    transform: none;
    .btn-shop-now {
      margin-left: 10px;
    }
    h1 {
      padding: 5px;
      background-color: rgba($main-bg-color, 0.7);
      border-radius: 10px;

      display: block;
      width: fit-content;
      position: absolute;
      top: 25%;
      left: 20%;
      transform: translate(-20%, -70%);
    }
  }
}
