@import "__vars.scss";

div.why-us.about,
.reviews {
  position: relative;
  padding: 0 20px;
}
h2 {
  padding: 20px 0;
}
@keyframes highlight {
  0% {
    background-color: $main-bg-color; /* Начальный цвет подсветки */
  }
  50% {
    background-color: rgba(
      $btn-bg-color,
      0.5
    ); /* Цвет подсветки через половину времени анимации */
  }
  100% {
    background-color: $main-bg-color; /* Возврат к исходному цвету подсветки */
  }
}

#about:target,
#mission:target,
#why-us:target {
  animation: highlight 0.5s;
}

.introducing {
  //   background-color: transparent;
  padding: calc(calc(calc(100%) - calc(calc(calc(100%) * 29) / 30)) / 2) 0;
  margin-top: 1vh;
  position: relative;
  width: 100%;
  img {
    width: 100%;
    height: 100%;
    // filter: blur(5px);
  }
  .introducing-text-and-btn {
    position: absolute;
    top: 70%; /* Расположить блок относительно верхнего края родительского контейнера на 50% */
    left: 50%; /* Расположить блок относительно левого края родительского контейнера на 50% */
    transform: translate(-50%, -50%); /* Центрировать блок по горизонтали и вертикали */
    width: 80%; /* Пример: ширина блока 80% от ширины родительского контейнера */
    // Добавляем backdrop-filter
    // backdrop-filter: blur(3px);
    // Уровень размытия, настройте по вашему усмотрению
    div {
      margin-top: 1vw;
    }

    .shadow-box {
      padding: 10px;
      background-color: rgba($main-bg-color, 0.7);
      border-radius: 15px;
    }
  }
}

.why-us {
  p {
    padding: 10px 0;
    text-indent: 20px;
  }
  .btn-shop-now {
    margin: 20px 0;
  }
  ul {
    padding-left: 20px;
  }
}

.review {
  .profile {
    padding: 0.5vh 0;
    height: 5vh;
    @include flex-align-center;
  }
  .userdata {
    padding-left: 1vh;
    @include set-font-size("div.date", 12px);
  }
  .rating {
    padding: 1vh 0;
  }
  .like-dislikes {
    color: #9cbab5;
    padding: 1vh 0;
    @include flex-align-center;
    .likes {
      div {
        padding-left: 0.2vw;
      }
    }
    .dislikes {
      padding-left: 1vw;
    }
    .likes,
    .dislikes {
      @include flex-align-center;
      height: 2vh;
    }
  }
}

@media screen and (max-width: 1024px) {
  @include set-font-size(div, 15px);
  @include set-font-size(".navigation .nav .nav-bar div", 16px);
}

@media (max-width: 768px) {
  @include set-font-size("h1", 26px);
  @include set-font-size("h2", 24px);
  @include set-font-size("h3", 22px);
  @include set-font-size("a", 15px);

  .introducing .introducing-text-and-btn {
    top: 50%;
  }
}

@media (max-width: 480px) {
  .introducing .introducing-text-and-btn {
    position: static; /* Изменяем позиционирование на static */
    width: auto; /* Изменяем ширину на auto */
    // text-align: center; /* Центрируем текст по горизонтали */
    transform: none;
    .btn-shop-now {
      margin-left: 10px;
      // float: right;
    }
    h1 {
      padding: 5px;
      background-color: rgba($main-bg-color, 0.7);
      border-radius: 10px;

      display: block;
      width: fit-content;
      position: absolute; /* Возвращаем позиционирование к relative */
      top: 35%; /* Положение по вертикали на 50% */
      left: 20%;
      transform: translate(-20%, -70%); /* Центрируем по вертикали */
    }
  }
}
