@import "__vars.scss";

.navigation {
  position: relative;
  div {
    font-size: 18px;
  }
  padding-top: 1vh;
  width: 100%;
  .separate-line {
    height: 3px;
    background-color: #9cbab5;
  }
}
nav.nav {
  padding: 1vh 1vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-logo {
  cursor: pointer;
  display: flex;
  align-items: center;
  img {
    width: 35px;
  }
  margin-left: 1vw;
  .EcoTech-nav {
    font-family: "Spline sans";
    font-size: 20px;
    padding-left: 0.5vw;
  }
}
.nav-bar-common {
  .menu-toggle {
    display: none;
  }
  margin-right: 3vw;
  .login-btn {
    margin: 0 1vh;
  }
  @include flex-align-center;
  .nav-bar {
    @include flex-align-center;
  }
  .nav-items {
    cursor: pointer;
    position: relative;
    margin: 0 1vw;
    &::after {
      content: "";
      display: block;
      width: 0%;
      height: 3px;
      background-color: $btn-bg-color;
      position: absolute;
      bottom: 0;
      left: 50%; /* Начальное положение линии - в центре */
      transition: width 0.3s, left 0.3s; /* Плавное изменение ширины и положения линии при наведении */
    }

    &:hover::after {
      width: 100%; /* Расширяем линию до краев при наведении */
      left: 0%; /* Смещаем линию влево, чтобы она начиналась с края */
    }
    @include set-font-size("a", 18px);
  }
}

@mixin createAnimation($animationName, $startPos, $endPos, $classSelector) {
  @keyframes #{$animationName} {
    0% {
      d: path($startPos);
    }
    100% {
      d: path($endPos);
    }
  }
  #{$classSelector} {
    animation: #{$animationName} 0.1s ease-in-out forwards;
  }
}
$MenuToCrossCoordsList: (
  ("M0,27 L100,27 Z", "M20,20 L80,80 Z"),
  ("M0,73 L100,73 Z", "M80,20 L20,80 Z"),
  ("M0,50 L100,50 Z", "M80,20 L20,80 Z")
);

@for $i from 1 through 3 {
  @include createAnimation(
    "menuToCross#{$i}",
    nth(nth($MenuToCrossCoordsList, $i), 1),
    nth(nth($MenuToCrossCoordsList, $i), 2),
    ".menu-to-cross-#{$i}"
  );
  @include createAnimation(
    "crossToMenu#{$i}",
    nth(nth($MenuToCrossCoordsList, $i), 2),
    nth(nth($MenuToCrossCoordsList, $i), 1),
    ".cross-to-menu-#{$i}"
  );
}
@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideOut {
  from {
    display: flex;
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
    display: none;
  }
}
@media (max-width: 768px) {
  .box {
    width: 40px;
    height: 40px;
  }
  .icon {
    stroke-width: 8;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: d 0.3s ease-in-out;
  }
  .navigation {
    // position: relative;
    nav.nav {
      box-sizing: content-box;
      .nav-bar-common {
        .menu-toggle {
          display: block;
          margin: 0 1vw;
          // .box{visibility: hidden;;}
        }
        .nav-bar {
          position: fixed;
          bottom: 0;
          right: 0;
          z-index: 999;
          width: 100%;
          height: 100%;
          background-color: $main-bg-color-secondarry;
          display: flex;
          flex-direction: column; /* Выстраиваем элементы в колонну */
          // align-items: flex-start; /* Выравниваем элементы по центру по оси X */
          .nav-items {
            &::after {
              display: none;
            }
            margin-top: 5vh;
          }
          display: none;
        }
      }
      .nav-logo img {
        width: 30px;
      }
    }
  }
}
