@import "__common_vars.scss";

body {
  font-family: "Spline sans";
  background-color: $main-bg-color;
  color: $primary-text-color;
}
.navigation {
  padding-top: 1vh;
  width: 100%;
  nav {
    padding: 1vh 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .nav-logo {
      display: flex;
      align-items: center;
      img {
        width: 2vw;
      }
      padding-left: 1vw;
      .EcoTech-nav {
        padding-left: 0.5vw;
      }
    }
    @mixin flex-center {
      display: flex;
      align-items: center;
    }
    .nav-bar-common {
      .menu-toggle {
        display: none;
      }
      margin-right: 5vw;
      .login-btn {
        @include btn-style;
        margin: 0 1vh;
      }
      @include flex-center;
      .nav-bar {
        @include flex-center;
      }
      .nav-items {
        position: relative;
        overflow: hidden; /* Обрезаем псевдоэлемент, который будет анимирован */
        margin: 0 1vw;
        &::after {
          content: "";
          display: block;
          width: 0%;
          height: 0.15em;
          background-color: $btn-bg-color;
          position: absolute;
          bottom: 0;
          left: 50%; /* Начальное положение линии - в центре */
          transition: width 0.3s, left 0.3s; /* Плавное изменение ширины и положения линии при наведении */
        }

        &:hover::after {
          width: 100%; /* Расширяем линию до краев при наведении */
          left: 0%; /* Смещаем линию влево, чтобы она начиналась с края */
        }
      }
    }
  }
  .separate-line {
    height: 0.2vh;
    background-color: #9cbab5;
  }

  .box {
    width: 5vw;
    height: 5vw;
  }
  .icon {
    fill: none;
    stroke-width: 8;
    stroke-linecap: round;
    stroke-linejoin: round;
    cursor: pointer;
    width: 100%; /* Устанавливаем ширину svg на 100% от блока .box */
    height: 100%; /* Устанавливаем высоту svg на 100% от блока .box */
  }

  .icon {
    stroke: #ffffff;
    opacity: 0.95;
  }

  @mixin flex-cntr-clmn {
    display: flex;
    flex-direction: column; /* Выстраиваем элементы в колонну */
    align-items: center; /* Выравниваем элементы по центру по оси X */
    // justify-content: center; /* Выравниваем элементы по центру по оси Y */
  }
  @media (max-width: 768px) {
    .nav-bar-common .menu-toggle {
      display: block !important;
      margin: 0 1vw;
    }
    nav.nav {
      box-sizing: content-box;
    }
    @keyframes slideIn {
      from {
        transform: translateX(100%);
      }
      to {
        transform: translateX(0);
      }
    }
    @keyframes slideOut {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(100%);
      }
    }

    nav.nav .nav-bar {
      /* Сначала скрываем */
      position: fixed;
      top: 0;
      right: 0;
      z-index: 999;
      width: 80%;
      min-height: 100%;
      background-color: $main-bg-color-secondarry;
      @include flex-cntr-clmn;
      .nav-items {
        margin-top: 5vh;
      }
      display: none;
    }
  }

  // nav.nav .nav-bar.inactive {
  //   animation: slideOut 0.2s ease forwards;
  // }
  // nav.nav .nav-bar.active {
  //   visibility: visible;
  //   animation: slideIn 0.2s ease forwards;
  // }
  body.menu-open {
    overflow: hidden;
  }
}
