@import "__common_vars.scss";

body {
  font-family: "Fira sans";
  background-color: $main-bg-color;
  color: $primary-text-color;
}
.navigation {
  padding-top: 1vh;
  width: 100%;
  nav {
    padding: 1vh 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .nav-logo {
      display: flex;
      align-items: center;
      img {
        width: 2vw;
      }
      padding-left: 1vw;
      .EcoTech-nav {
        font-family: "Spline sans";
        padding-left: 0.5vw;
      }
    }
    @mixin flex-center {
      display: flex;
      align-items: center;
    }
    .nav-bar-common {
      .menu-toggle {
        display: none;
      }
      margin-right: 5vw;
      .login-btn {
        margin: 0 1vh;
      }
      @include flex-center;
      .nav-bar {
        @include flex-center;
      }
      .nav-items {
        position: relative;
        overflow: hidden; /* Обрезаем псевдоэлемент, который будет анимирован */
        margin: 0 1vw;
        &::after {
          content: "";
          display: block;
          width: 0%;
          height: 0.15em;
          background-color: $btn-bg-color;
          position: absolute;
          bottom: 0;
          left: 50%; /* Начальное положение линии - в центре */
          transition: width 0.3s, left 0.3s; /* Плавное изменение ширины и положения линии при наведении */
        }

        &:hover::after {
          width: 100%; /* Расширяем линию до краев при наведении */
          left: 0%; /* Смещаем линию влево, чтобы она начиналась с края */
        }
      }
    }
  }
  .separate-line {
    height: 0.2vh;
    background-color: #9cbab5;
  }

  .box {
    width: 5vw;
    height: 5vw;
  }
  .icon {
    stroke-width: 8;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  .icon {
    stroke: #ffffff;
    opacity: 0.95;
    transition: d 0.3s ease-in-out;
  }

  @keyframes menuToCross1 {
    0% {
      d: path("M0,27 L100,27 Z");
    }
    100% {
      d: path("M20,20 L80,80 Z");
    }
  }
  @keyframes menuToCross2 {
    0% {
      d: path("M0,73 L100,73 Z");
    }
    100% {
      d: path("M80,20 L20,80 Z");
    }
  }
  @keyframes menuToCross3 {
    0% {
      d: path("M0,50 L100,50 Z");
    }
    100% {
      d: path("M80,20 L20,80 Z");
    }
  }

  .menu-to-cross-1 {
    animation: menuToCross1 0.1s ease-in-out forwards;
  }
  .menu-to-cross-2 {
    animation: menuToCross2 0.1s ease-in-out forwards;
  }
  .menu-to-cross-3 {
    animation: menuToCross3 0.1s ease-in-out forwards;
  }

  @keyframes crossToMenu1 {
    0% {
      d: path("M20,20 L80,80 Z");
    }
    100% {
      d: path("M0,27 L100,27 Z");
    }
  }

  @keyframes crossToMenu2 {
    0% {
      d: path("M80,20 L20,80 Z");
    }
    100% {
      d: path("M0,73 L100,73 Z");
    }
  }
  @keyframes CrossToMenu3 {
    0% {
      d: path("M0,73 L100,73 Z");
    }
    100% {
      d: path("M0,50 L100,50 Z");
    }
  }
  .cross-to-menu-1 {
    animation: crossToMenu1 0.1s ease-in-out forwards;
  }

  .cross-to-menu-2 {
    animation: crossToMenu2 0.1s ease-in-out forwards;
  }
  .cross-to-menu-3 {
    animation: crossToMenu3 0.1s ease-in-out forwards;
  }

  @media (max-width: 768px) {
    .nav-bar-common .menu-toggle {
      display: block !important;
      margin: 0 1vw;
    }
    nav.nav {
      box-sizing: content-box;
    }
    @keyframes slideIn {
      from {
        transform: translateX(100%);
      }
      to {
        transform: translateX(0);
      }
    }
    @keyframes slideOut {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(100%);
      }
    }

    nav.nav .nav-bar {
      /* Сначала скрываем */
      position: fixed;
      top: 0;
      right: 0;
      z-index: 999;
      width: 80%;
      min-height: 100%;
      background-color: $main-bg-color-secondarry;
      display: flex;
      flex-direction: column; /* Выстраиваем элементы в колонну */
      align-items: center; /* Выравниваем элементы по центру по оси X */
      .nav-items {
        margin-top: 5vh;
      }
      display: none;
    }
  }
}
